<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <h1>About me </h1>
    <p>Looking for a 1st job, plx.</p>
  </body>
</html>